* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #acacff;

}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: rgb(58, 0, 112);
}

h2 {
    font-size: 1.5em;
    color: rgb(58, 0, 112);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}

body.map-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .map-container {
    width: 100%;
    max-width: 800px;
    height: 450x;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }

  .convite .centered-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}